<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー 新規登録画面</title>
</head>
<body>
<h1>ユーザー 新規登録画面</h1>

<form method="post" action="/add" th:object="${user}">

		<div>
			<label for="name">名前</label>
			　　　　　　　<input type="text" name="name" th:value="*{name}" placeholder="20字以内"/><br />
		</div>

		<div>
			<label for="password">パスワード</label>
			　　　　<input name="password" type="password" id="password" placeholder="5字以上20字以内"/> <br />
		</div>

		<div>
			<label for="password">パスワード確認用</label>
			　<input name="confirmation_password" type="password" id="confirmation_password" placeholder="5字以上20字以内"/> <br />
		</div>

		<div>
			<button type="submit"> 登録</button> <br />
		</div>
	</form>
	</div>

</body>
</html>