<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>top</title>
</head>
<body>
<h1>在庫管理アプリ TOP画面</h1>
<a href="/signup">ユーザー 新規登録</a>
<a href="/login">ログイン</a>
<div th:block th:if="${loginUser != empty}">
	<a th:href="@{/userEdit/{id}(id=${session.loginUser.id})}">ユーザー 編集</a>
	<a href="/logout">ログアウト</a>
	<a href="/category">カテゴリー 一覧</a>
	<a href="/new">アイテム 新規登録</a>
</div>

<!-- 絞り込み -->
<h4>カテゴリーで絞り込み</h4>
		<form th:action="@{/}" th:method="get">
					<label>
						<select name="category">
							<option value=""></option>
							<option th:each="category : ${categoryList}"
								th:value="${category.id}" th:text="${category.name}"
								th:selected="${category.id == selectedCategory}"></option>
						</select>
					</label>
				<button type="submit">
					検索
				</button>
		</form>
<table>
	<tr>
		<th>アイテム名</th>
		<th>カテゴリー</th>
		<th>数量</th>
		<th>期日</th>
		<th>編集</th>
		<th>削除</th>
	</tr>

	<tr th:each="item : ${itemList}">

		<td th:text="${item.name}"></td>

		<th:block th:each="category : ${categoryList}">
		<th:block th:if="${item.categoryId == category.id}">
		<td th:text="${category.name}"></td>
		
		<td th:text="${item.amount}"></td>
		<td th:text="${#dates.format(item.expirationDate, 'yyyy/MM/dd')}">

		<td>
		 <a th:href="@{/itemEdit/{id}(id=${item.id})} "><button type="submit">編集</button></a>
		</td>

		<td>
			<form th:action="@{/itemDelete/{id}(id=${item.id})}" th:method="delete">
				<input type="submit" value="削除" onclick="confirm('削除しますか')">
			</form>
		</td>
	</tr>
</table>
</body>
</html>